.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 7px 40px;
  color: #00D084;
  font-family: 'Orbitron', sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-logo {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  transition: 0.4s;
}

.nav-links li a {
  color: #00D084;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #fff;
}

.login-btn {
  padding: 7px 18px;
  background: #00D084;
  color: #111 !important;
  border-radius: 6px;
  font-weight: 600;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle span {
  width: 26px;
  height: 3px;
  background: #00D084;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsive */
@media(max-width: 820px) {
  .nav-links {
    position: absolute;
    top: 68px;
    right: -100%;
    flex-direction: column;
    background: #111;
    width: 200px;
    padding: 20px 0;
    border-left: 1px solid #00D084;
  }

  .nav-links.open {
    right: 0;
  }

  .nav-toggle {
    display: flex;
  }
}


/* Login page */


body {
  background: #0d0d0d;

}

.login-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: #111;
  padding: 45px 50px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #00D084;
  box-shadow: 0 0 25px #00D084a6;
}

.login-box h2 {
  margin: 0;
  color: #00D084;
  font-weight: 600;
  font-size: 28px;
}

.subtitle {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: transparent;
  border: 1px solid #00D084;
  border-radius: 6px;
  color: #00D084;
  font-size: 14px;
  outline: none;
}

.login-box input::placeholder {
  color: #62ffce91;
}

.login-box button {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background: #00D084;
  border: none;
  border-radius: 6px;
  color: #111;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #05ffad;
  box-shadow: 0 0 12px #00ffc87e;
}

.signup-text {
  margin-top: 16px;
  color: #b9b9b9;
  font-size: 13px;
}

.signup-text a {
  color: #00D084;
  text-decoration: none;
  font-weight: 600;
}

.signup-text a:hover {
  text-shadow: 0 0 8px #00ffc8;
}


/* Singup */


.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 50vw;
  margin-top: 250px;
  margin-bottom: 20px;
  background: #111;
  padding: 45px 50px;
  border-radius: 12px;
  border: 1px solid #00D084;
  box-shadow: 0 0 25px #00D084a6;
  text-align: center;
}

.signup-box h2 {
  margin: 0;
  color: #00D084;
  font-size: 28px;
  font-weight: 600;
}

.subtitle {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  background: transparent;
  border: 1px solid #00D084;
  border-radius: 6px;
  color: #00D084;
  outline: none;
}

.signup-box button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #00D084;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: #111;
  cursor: pointer;
  transition: 0.3s;
}

.signup-box button:hover {
  background: #05ffad;
  box-shadow: 0 0 12px #00ffc87e;
}

.section-title {
  text-align: left;
  color: #ccc;
  font-size: 13px;
  margin-top: 14px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

.skill-tag {
  padding: 6px 12px;
  border: 1px solid #00D084;
  border-radius: 6px;
  font-size: 12px;
  color: #00D084;
  cursor: pointer;
  transition: 0.3s;
}

.skill-tag.selected,
.skill-tag:hover {
  background: #00D084;
  color: #111;
}

.team-pref {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  color: #ccc;
  font-size: 13px;
}

.login-text {
  margin-top: 15px;
  font-size: 13px;
  color: #b9b9b9;
}

.login-text a {
  color: #00D084;
  font-weight: 600;
  text-decoration: none;
}
.img-upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
  cursor: pointer;
}

.preview-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 2px solid #00D084;
  object-fit: cover;
  box-shadow: 0 0 12px #00D08480;
  transition: 0.3s;
}

.preview-img:hover {
  box-shadow: 0 0 18px #00ffd080;
}

#profile-upload {
  display: none;
}

.upload-text {
  font-size: 12px;
  color: #b9b9b9;
  margin-top: 6px;
}